body
{
    background-color: #f07581;
}

h1
{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    text-align: center;
    color: #141414;
    background-color: #e26d79;
}

p
{
    font-family: 'Lobster', cursive;
}

img
{
    display: block;
    margin: auto;
}